{% extends "base.html" %}

{% block title %}Sobre{% endblock %}

{% block content %}

<h1 class="text-center">Sobre a EmpreGO</h1>
<hr>
<p style="font-size: large;">A <strong>EmpreGO</strong> é a solução definitiva para conectar talentos e oportunidades no dinâmico mercado de Tecnologia da Informação (TI). Nossa missão é ser a ponte entre empresas que buscam profissionais qualificados e candidatos em busca da próxima grande oportunidade na carreira.</p>
<p style="font-size: large;">Com uma plataforma intuitiva e eficiente, oferecemos serviços que atendem a todas as necessidades de recrutamento e busca de emprego na área de TI. Aqui, empresas podem se cadastrar, publicar vagas de forma prática e receber currículos alinhados aos seus requisitos.</p>  
<p style="font-size: large;">Para os candidatos, a EmpreGO oferece ferramentas modernas e seguras para criar e gerenciar currículos, buscar as melhores oportunidades e se candidatar diretamente às vagas disponíveis. Nosso objetivo é simplificar o processo de recrutamento e facilitar o encontro entre empresas inovadoras e profissionais talentosos.</p>  
<p style="font-size: large;">Seja você uma empresa em busca dos melhores talentos ou um profissional determinado a construir uma carreira de sucesso, a <strong>EmpreGO</strong> está aqui para transformar essa jornada em uma experiência ágil e assertiva.</p> 
<hr> 
<h2 class="text-center">EmpreGO – Conectando o presente ao futuro da tecnologia.</h2>

{% endblock %}